<html>
<head><title>UMBC GIS</title>
<meta charset="utf-8">
<script src="/jquery/jquery.js"></script>
<script src="/jquery-ui/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">



</script>
</head>
<body>
    <header>
    <h1><font face= "Courier New", color = "grey"> umbc interior space applications.</h1>
    <p>umbcgis@umbc.edu</p>
  </header>
<div id="tabs">
  <ul>
    <li><a href="#fragment-1"><span>Select Building</span></a></li>
    <li><a href="#fragment-2"><span>Select Floor</span></a></li>
    <li><a href="#fragment-3"><span>About CGSI</span></a></li>
  </ul>
  <div id="fragment-1">
    <font face= "Courier New", color = "grey"> Select the building that you are interested in: <br><br>

    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/admin.html">Administration Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/library.html">Albin O. Kuhn Library</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/biology.html">Biological Sciences Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/chemistry.html">Meyerhoff Chemistry Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/truegrits.html">True Grit's</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/ecs.html">Engineering Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/finearts.html">Fine Arts Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/ite.html">Information Technology / Engineering Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/Lecture1.html">Lecture Hall 1</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/public/floors/admin.html">Math and Psychology Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Performing Arts and Humanitites Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Physics Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Public Policy Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Sherman Hall</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Janet and Walter Sondheim Hall</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Student Development and Success Center</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Tech 2 Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Technology Research Center</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">Academic Services Building</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">University Center</a><br>
    <font face= "Courier New", color = "grey"><a href="http://130.85.212.61:5000/">The Commons</a><br>

  </div>
  <div id="fragment-2">
  Please Select Building in the select building tab.
  



  </div>
  <div id="fragment-3">
  <img src= "http://130.85.212.61:5000/public/about_cgsi.png", width = "800px">
  
  </div>
</div>



</body>
<script>
$( "div#tabs" ).tabs();
</script>

 

</html>